body {
 background-color: Aqua;
}

.reccomendations {
  box-sizing:border-box;
  width:100px;
  margin: 0 auto;
}

figcaption {
  font-size: 20px;
  display: block;
  width: 275px;
  text-align: center;
}

h3 {
 width: 400px;
}

h2 {
 text-align: center;
}
