<<<<<<< HEAD
.reccomendations {
<<<<<<< HEAD
=======
  box-sizing: border-box;
>>>>>>> f78bb66485fb63b4f5c3b8afd8a5358be8b910ae
  width:100px;
  margin: 0 auto;
}
figure {
  width: 50px;
<<<<<<< HEAD
=======
figcaption {
  font-size: 14px;
>>>>>>> 581f369648c257d7cfb38707dec99352967ae001
}
=======
}
>>>>>>> f78bb66485fb63b4f5c3b8afd8a5358be8b910ae
